<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <connectionStrings>
    <add name="CMDB" connectionString="Server=10.2.100.213;Database=CMDB;User Id=sa;Password=PMPvn@0808;" providerName="System.Data.SqlClient"/>
    <add name="TEST" connectionString="Server=10.2.101.28;Database=cmdb;User Id=sa;Password=FS@admin1028;" providerName="System.Data.SqlClient"/>
    <add name="PMPMES" connectionString="Server=10.2.100.213;Database=PMPMES;User Id=sa;Password=PMPvn@0808;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
